<div class="">
    <div class="row">
        <div class="col-sm-6">
          <div>
            <img  src="https://i.postimg.cc/mDXS6BNp/Rectangle-2313.png" class="img-fluid" alt="Responsive image">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="dropdown text-end">
            Having Truble?<strong>get Helped</strong>
  <button class="btn btn-white dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
   <img class="flag" src="https://i.postimg.cc/ydpgcZrp/download-6.png" alt=""> Eng
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>
            <div class="mt-5 py-5 ">
             <h2 class="ms-3"><strong>Login to Success </strong></h2>
                <form class="w-75 mt-5 ms-3">
                   
                    <div class="input-group input-group-lg mb-3">
                   
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="email">
                      
                    </div>
                    <div class="input-group input-group-lg mb-3">
                      
                      <input placeholder="password" type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check">
                      <div class="row">
                      <div class=" col-6">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <p>keep me logged in</p>
                      </div> <div class="col-6 text-end">
<a style="text-decoration: none;" class="" href="">Forget password?</a>
                      </div>
                    </div>
                    </div>
                  <button (click)="login()" type="button" class="btn btn-primary btn-lg w-100">Login</button>
                  </form>
                  <div class="text-center"><a style="text-decoration: none;" class="" href="">create an account</a></div>
            </div>
        </div>
    </div>
</div>
